<h1>Server <%= @server.address %></h1>

<hr>

<table>
  <tr>
    <th>Metrics (Total: <%= @metrics.keys_left.count %>)</th>
    <th>Value</th>
  </tr>
  <% @metrics.keys_left.each do |name, value| %>
    <tr>
      <td><%= name %></td>
      <td><pre><%= value.to_yaml %></pre></td>
    </tr>
  <% end %>
</table>

<hr>

<table>
  <tr>
    <th>Metric (Total: <%= @metrics.all.count %>)</th>
    <th>Value</th>
  </tr>
  <% @metrics.all.each do |metric| %>
    <tr>
      <td><%= metric.full_name_with_labels %></td>
      <td><%= metric.value %></td>
    </tr>
  <% end %>
</table>
