<h1>Configuration</h1>

<hr>

  <p>Version: <%= @config.version %></p>
  <p>Mongo Mode: <%= @config.mongo.mode %></p>

  <hr>

  <h5>Mongos (Shard routers)</h5>

  <table>
    <tr>
      <th>Address</th>
      <th>Status</th>
    </tr>

    <% @config.mongo.mongos.each do |mongos| %>

    <tr>
      <td><%= link_to mongos.address, "/servers/#{mongos.address}" %></td>
      <td><%= mongos.status %></td>
    </tr>

    <% end %>
  </table>

  <h5>Mongod (Configuration servers)</h5>

  <table>
    <tr>
      <th>Address</th>
      <th>Status</th>
    </tr>

    <% @config.mongo.configs.each do |mongoc| %>

    <tr>
      <td><%= link_to mongoc.address, "/servers/#{mongoc.address}" %></td>
      <td><%= mongoc.status %></td>
    </tr>

    <% end %>
  </table>

  <h5>Nodes (Shards)</h5>

  <table>
    <tr>
      <th>Address</th>
      <th>Status</th>
      <th>Replica Set</th>
    </tr>

    <% @config.mongo.shards.each do |mongoc| %>

    <tr>
      <td><%= link_to mongoc.address, "/servers/#{mongoc.address}" %></td>
      <td><%= mongoc.status %></td>
      <td><%= mongoc.replica_name %></td>
    </tr>

    <% end %>
  </table>
